<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>meet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="meetです" />
    <link rel="stylesheet" th:href="@{/css/meet.css}" />
  </head>
  <body>
    <header>
      <h1 id="logo">
        <img src="/img/meet/logo.png" alt="ロゴ" /><span>meet</span>
      </h1>

      <!--開閉ブロック-->
      <div id="menubar">
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#section2">meet</a></li>
            <li><a href="#section3">history</a></li>
            <li><a href="#section4">Gallery</a></li>
            <li><a class="start" th:href="@{/meet/toLogin}">はじめる</a></li>
          </ul>
        </nav>

        <ul class="icons">
          <li>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-line"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <!--/#menubar-->
    </header>

    <main>
      <!-- ここからsection1 -->
      <section id="section1" class="section"></section>

      <!-- ここからsection2 -->
      <section id="section2" class="section">
        <h2><strong>meet とは...？</strong></h2>

        <h2>meetは20代に人気な恋活アプリ</h2>
        <p>
          ミーティングをテーマに、素敵な出会いをサポートします。プロフィール検索やマッチング機能を駆使して、共通の趣味や興味を持つ相手と簡単につながることができます。
        </p>
        <p>
          豊富なプロフィール情報と写真から理想のパートナーを見つけましょう。Meetはその使いやすさと効果的なマッチングシステムで、多くのユーザーに支持されています。
        </p>
        <p>
          数々の賞を受賞し、登録者数100万人を突破しました！新しい恋愛の扉を開くなら、Meetが最適です!
        </p>
      </section>

      <!-- ここからsection3 -->
      <section id="section3" class="section">
        <h2><strong>meetのhistory</strong></h2>

        <dl class="new">
          <dt>2024/05/30<span>報告</span></dt>
          <dd>㊗録者数が100万人を突破ご自愛いただきありがとうございます！</dd>

          <dt>2024/05/05<span>報告</span></dt>
          <dd>Youtubeチャンネルを「meetチャンネル」始動</dd>

          <dt>2024/05/02<span>お知らせ</span></dt>
          <dd>料金規定変更のお知らせ</dd>

          <dt>2024/04/10<span>メディア</span></dt>
          <dd>地元メディアへ掲載。meetのCM女優に杉咲花さんが出演！</dd>

          <dt>2024/01/29<span>メディア</span></dt>
          <dd>
            ウェブサイトのデザイン刷新。マッチングに成功したカップルの写真を登用。
          </dd>

          <dt>2023/12/25<span>イベント</span></dt>
          <dd>2023/12/25～2023/12/31まで無料おためしキャンペーン始動！</dd>

          <dt>2023/12/01<span>お知らせ</span></dt>
          <dd>本日よりmeetダウンロード開始！</dd>
        </dl>

        <a
          href="https://q19cms.com/files_m/file/cms_oshirase.html"
          target="_blank"
          ><img
            src="https://template-party.com/file/images/cms_oshirase/banner_oshirase_cms2.jpg"
            alt="無料で使えるお知らせCMSのご案内"
        /></a>
      </section>

      <!-- ここからsection4 -->
      <section id="section4" class="section">
        <h2><strong>Gallery</strong></h2>

        <p>
          カップル続々誕生！！ダウンロード開始から半年ですが、登録者100万人を達成しました!
          meetをご利用いただいているみなさまには大変感謝しております。
        </p>
        <p>
          マッチングに成功したカップルに許可をいただき、素敵なお写真とコメントをいただいております。
        </p>

        <div class="list-grid-trimming">
          <div class="list">
            <a
              href="/img/meet/section1.jpg"
              data-lightbox="group1"
              data-title="趣味が同じでマッチングしました！"
            >
              <img src="/img/meet/section1.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section2.jpg"
              data-lightbox="group1"
              data-title="初めて会うときは不安でしたが、誠実で素敵な人でした！"
            >
              <img src="/img/meet/section2.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section3.jpg"
              data-lightbox="group1"
              data-title="1ヵ月で出会えるなんてびっくりしました！"
            >
              <img src="/img/meet/section3.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section1.jpg"
              data-lightbox="group1"
              data-title="meetingの機能があり、楽しく通話することができました！"
            >
              <img src="/img/meet/section1.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section2.jpg"
              data-lightbox="group1"
              data-title="meetingで画面共有をしながらプログラミングを楽しめました。"
            >
              <img src="/img/meet/section2.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section3.jpg"
              data-lightbox="group1"
              data-title="今度デプロイタイムアタックを彼氏としてみます！"
            >
              <img src="/img/meet/section3.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section1.jpg"
              data-lightbox="group1"
              data-title="ライブを一緒に楽しめる同性の友達を見つけることができました！"
            >
              <img src="/img/meet/section1.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section2.jpg"
              data-lightbox="group1"
              data-title="お互い引っ込み思案でしたが、meetが提示してくれるアドバイスがとても役に立ちました。"
            >
              <img src="/img/meet/section2.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section3.jpg"
              data-lightbox="group1"
              data-title="会社辞めてヒモになりたいです。"
            >
              <img src="/img/meet/section3.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section1.jpg"
              data-lightbox="group1"
              data-title="好きな言語がJavaScriptの人に出会えました！幸せ！"
            >
              <img src="/img/meet/section1.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section2.jpg"
              data-lightbox="group1"
              data-title="Docker使ったことある人でした！かっこいい！"
            >
              <img src="/img/meet/section2.jpg" alt="" />
            </a>
          </div>

          <div class="list">
            <a
              href="/img/meet/section3.jpg"
              data-lightbox="group1"
              data-title="javaScriptってJavaが流行ってるときに名前変えたんだって～。流行に乗れるといいことあるよね。"
            >
              <img src="/img/meet/section3.jpg" alt="" />
            </a>
          </div>
        </div>
        <!--/.list-grid-->

        <h3>lightboxを使用しています</h3>
        <p>
          サムネイル画像をクリックすると、画面が暗転してポップアップが開きます。<br />
          海外で配布されているプログラムなので、カスタマイズなどには当サイトでは対応していません。ご自身でGoogle検索などかけてみて下さい。
        </p>
        <h3>画像を増やしたい場合</h3>
        <p>
          基本的にはご利用のテンプレートのhtml側のパーツをコピペして増やしてみて下さい。<br />
          以下のタグのようにポップアップで大きく表示される画像はaタグ内で読み込み、サムネイル画像（小さな画像）はimgタグで読み込まれています。<br />
          このテンプレートではどちらの画像も同じ画像を使っていますが、それぞれ別の画像を配置して頂いても構いません。
        </p>
        <p class="look">
          &lt;a href=&quot;<span class="color-check">images_gallery/1.jpg</span
          >&quot; data-lightbox=&quot;group1&quot;
          data-title=&quot;タイトルをここに入れます&quot;&gt;<br />
          &lt;img src=&quot;<span class="color-check">images_gallery/1.jpg</span
          >&quot; alt=&quot;&quot;&gt;<br />
          &lt;/a&gt;
        </p>
        <h3>グループ</h3>
        <p>
          <span class="look">data-lightbox="group1"</span><br />
          は、ポップアップで表示した場合に次の画像へ繋ぐグループの設定です。<br />
          「group1」部分は好きに変更して頂いて構いません。<br />
          同じグループ名がついている場合に次の画像へのリンク矢印が出ます。グループごとに見て欲しい場合はこのグループ名を変更しておくといいでしょう。
        </p>
        <p class="look">
          &lt;a href=&quot;images_gallery/1.jpg&quot;
          <span class="color-check">data-lightbox=&quot;group1&quot;</span>
          data-title=&quot;タイトルをここに入れます&quot;&gt;<br />
          &lt;img src=&quot;images_gallery/1.jpg&quot; alt=&quot;&quot;&gt;<br />
          &lt;/a&gt;
        </p>
        <h3>ポップアップ時のコメント</h3>
        <p>
          <span class="look">data-title="タイトルをここに入れます"</span><br />
          は、lightboxで暗転表示された際に写真下に表示されるテキストです。<br />
          よく分からない場合は実際に設定して動作を確認してみて下さい。不要ならタグごと削除してもらえばOKです。
        </p>
        <p class="look">
          &lt;a href=&quot;images_gallery/1.jpg&quot;
          data-lightbox=&quot;group1&quot;
          <span class="color-check"
            >data-title=&quot;タイトルをここに入れます&quot;</span
          >&gt;<br />
          &lt;img src=&quot;images_gallery/1.jpg&quot; alt=&quot;&quot;&gt;<br />
          &lt;/a&gt;
        </p>

        <h3>lightboxを使う為に必要なタグ、ファイル類。</h3>
        <p>
          cssフォルダのstyle.css冒頭で読み込んでいる「lightbox.cssの読み込み」のブロック。<br />
          html下部で読み込んでいる「lightbox用jsファイルの読み込み」のブロック。
        </p>
        <p>
          何年も経過した場合、動作に問題が出てくる可能性があります。<br />
          テンプレートを編集していないのに突然動きがおかしくなった場合は、上記のバージョンを変更して動作するか確認してみて下さい。
        </p>
      </section>
    </main>

    <footer>
      <small
        >Copyright&copy; <a href="meet.html">Artist Web Site</a> All Rights
        Reserved.</small
      >
      <span class="pr"
        ><a href="https://template-party.com/" target="_blank"
          >《Web Design:Template-Party》</a
        ></span
      >
    </footer>

    <!--ページの上部へ戻るボタン-->
    <div class="pagetop">
      <a href="#"><i class="fas fa-angle-double-up"></i></a>
    </div>

    <!--開閉ボタン（ハンバーガーアイコン）-->
    <div id="menubar_hdr"><span></span><span></span><span></span></div>

    <!--jQueryの読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--lightbox用jsファイルの読み込み-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

    <!--このテンプレート専用のスクリプト-->
    <script src="/js/main.js"></script>
  </body>
</html>
